{% load cms_tags sekizai_tags thumbnail %}

{% addtoblock "css" %}<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}nivoslider/css/nivo-slider.css" />{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_URL }}nivoslider/js/jquery.nivo.slider.pack.js"></script>{% endaddtoblock %}

<div id="nivo-slider" class="nivoSlider">
{% for i in images %}
    {% include "nivoslider.imagetag.html" %}
{% endfor %}
</div>

<script type="text/javascript">
	jQuery(document).ready(function( $ ) {
		$('#nivo-slider').nivoSlider({
			effect:'{{ effect }}',
			animSpeed:{{ animation_speed|default:"10000" }},
			pauseTime:{{ pause_time|default:"15000" }},
			directionNav: {{ show_direction_nav|default:"false"|lower }},
			pauseOnHover: {{ pause_on_hover|default:"true"|lower }},
			randomStart: {{ random_start|default:"false"|lower }},
			controlNav: {{ show_nav|default:"false"|lower }},
			controlNavThumbs: {{ use_nav_thumbs|default:"false"|lower }},
			prevText: {{ prev_text|default:"Prev" }},
            nextText: {{ prev_text|default:"Next" }},
	   });
	});
</script>