.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}


#workspace h3 {
    margin-bottom: 10px;
}

#slider-gallery {
    padding: 5px;
    border: 1px solid #aaa9a9;
    background-color: #eeeeee;
    width: 950px;
}

#slider-gallery .next {
    width: 20px;
    height: 50px;
    display:inline-block;
    background: transparent url('../img/icon.arrow.right.png') no-repeat left center;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 35px;
}

#slider-gallery .prev {
    background: transparent url('../img/icon.arrow.left.png');
    width: 20px;
    height: 22px;
    display:inline-block;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: 35px;
}

#slider-gallery ul {
    padding-left: 0;
    margin: 0;
/*    width: auto;*/
    display: block;

}

#slider-gallery .carousel-wrap {
    width: 93%;
    display:inline-block;
    vertical-align: top;
}

    .slider-wrapper {
        vertical-align: top;
        position: relative;
        cursor: move;
        width: 150px;
        height: 75px;
        padding-right: 5px;
        display:inline-block;
     }

     #slider-gallery .slider-wrapper {
         float: left;
     }


        .slider-wrapper .remove {
            position: absolute;
            top: 2px;
            right: 0;
            display: block;
            width: 12px;
            height: 12px;
            background: transparent url('../img/icon.close.png') no-repeat center center;
            cursor: pointer;
            display: none;
        }

        .slider-wrapper a {
            display: block;
            width: inherit;
            text-align: center;
        }

        .slider-wrapper h6 {
            font-size: 12px;
            text-align: center;
            font-weight: 600;
            margin: 0 0 5px 0;
            font-weight: normal;
        }


    .slider-wrapper img {
        /*display: block;*/
    }

#selected-slider {
    width: 950px;
    background-color: #EEEEEE;
    padding: 5px 0 5px 5px;
    min-height: 87px;
    border: 1px solid #aaa9a9;
}

    #selected-slider li {
        margin-right: 5px;
        list-style-type: none;
        width: 150px;
    }

        #selected-slider .slider-wrapper:hover .remove {
            display: block;
        }


.slider-placeholder {
    border: 1px dashed #AAA9A9;
    width: 150px;
    height: 75px;
    display: inline-block;
}


#header,
.breadcrumbs,
.form-row.field-images {
    display: none;
}