.nivoSlider {
    position:relative;
    width:960px; /* Change this to your images width */
    height:485px; /* Change this to your images height */    
    /*background:url(images/loading.gif) no-repeat 50% 50%;*/
    visibility: visible;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.nivoSlider a {
    border:0;
    display:block;
}

.nivo-controlNav {
    display: inline-block;
    position: absolute;
    top: 460px;
    right: 9px;
}

    a.nivo-control {
        width: 17px;
        height: 16px;
        display: inline-block;
        background: transparent url('../img/bullet.slider.sprite.png') no-repeat;
        margin-left: 4px;
    }

        a.nivo-control.active {
            background: transparent url('../img/bullet.slider.sprite.png') no-repeat 0 -17px;
        }
        
        .nivo-caption {
            background: transparent;
            display: none;
        }
        
        .learn-more {
            display: block;
            width: 85px;
            height: 23px;
            background: transparent url('../img/button.learnmore.sprite.png') no-repeat;
            z-index:200;
            position: absolute;
            top: 176px;
            left: 19px;
        }
        
        .learn-more:hover {
            background: transparent url('../img/button.learnmore.sprite.png') no-repeat left -23px;            
        }

        .heres-how {
            background: transparent url('../img/button.hereshow.sprite.png') no-repeat !important;
        }

        .heres-how:hover {
            background: transparent url('../img/button.hereshow.sprite.png') no-repeat left -24px !important;
        }
        
    
